@model IEnumerable<ClaseDatos.Usuario>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#0060fe">
    <meta name="title" content="HostX | HTML5 Hosting Template">
    <meta name="description" content="Your all in one solution to grow online. Start a free trial to create a beautiful website, get a domain name, fast hosting, online marketing and award-winning 24/7 support.">
    <meta name="keywords" content="Buy VPS, Buy VPS Hosting,Buy Cheap VPS, Free VPS, Trial VPS">
    <meta name="language" content="en">
    <link rel="shortcut icon" href="../assets/images/theme/favicon.png" type="image/x-icon">
    <!-- link -->
    <link rel="stylesheet" href="../assets/css/bundle.min.css">
    <link rel="stylesheet" href="../assets/css/fonts.min.css">
    <link rel="stylesheet" href="../assets/css/stylelogin.css">
    <link rel="stylesheet" href="../assets/css/templates.css">
    <link rel="stylesheet" href="../assets/css/pages/login.css">
    <!-- title -->
    <title>Sign in - Assist ADSO</title>
</head>
<body class="position-relative login-page light-theme" id="login-page">

    <!-- Preloader -->
    <div class="preloader" id="preloader">
        <div class="content d-flex align-items-center justify-content-center">
            <div class="spinner"></div>
        </div>
    </div>

    <!-- Section I -->
    <div class="se-i">
        <!-- user-form -->
        <form class="user-form" action="@Url.Action("ValidarUsuario","Login")" method="post" id="loginForm">
            <!-- logo -->
            <a href="@Url.Action("Index","Instructor")" class="logo">
                <img data-src="../assets/images/Logo-remove.png" class="lazy lt-img img-fluid" alt="HostX">
                <img data-src="../assets/images/theme/logo-d.png" class="lazy dt-img img-fluid" alt="HostX">
            </a>
            <!-- title-1 -->
            <h1 class="title-1"><img data-src="../assets/images/pages/user/waving-hand.png" class="lazy img-fluid" alt="Icon">Bienvenido!<br></h1>
            <!-- form-label -->
            <label class="form-label" for="Correo_usuario">
                <!-- form-input -->
                <input class="form-input" type="email" name="Correo_usuario" id="Correo" placeholder="Correo Electronico" required>
                <!-- state -->
                <span class="state"></span>
            </label>
            <!-- form-label -->
            <label class="form-label" for="Contrasena_usuario">
                <!-- form-input -->
                <input class="form-input" type="password" name="Contrasena_usuario" id="Contraseña" placeholder="Contraseña" required>
                <!-- state -->
                <span class="state"></span>
            </label>
            <!-- div -->
            <div class="text-right">
                <!-- pass-link -->
                <a href="reset-pass.html" class="pass-link">Olvidaste tu contraseña?</a>
            </div>
            <!-- buttons -->
            <div class="buttons mt-2">
                <button type="submit" class="btn btn-sm btn-fill-success shadow-off text-uppercase w-100">Iniciar Sesión</button>
            </div>
            @if (ViewData["Mensaje"] != null)
            {
                <p>@ViewData["Mensaje"]</p>
            }
        </form>
    </div>

    <!-- jquery-3.3.1.min.js -->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <!-- jquery.lazy.min.js -->
    <script src="../assets/js/jquery.lazy.min.js"></script>
    <!-- jQuery.cookies.js -->
    <script src="../assets/js/jQuery.cookies.js"></script>
    <!-- jquery.validate.min.js -->
    <script src="../assets/js/jquery.validate.min.js"></script>
    <!-- templates.js -->
    <script src="../assets/js/templates.js"></script>
    <!-- forms.js -->
    <script src="../assets/js/forms.js"></script>
    <!-- script.js -->
    <script src="../assets/js/scriptlogin.js"></script>
</body>
</html>

