@model ClaseDatos.Usuario

<h2>Agregar Aprendiz a la Ficha @ViewBag.FichaId</h2>

@using (Html.BeginForm("Asociar_Aprendiz_Ficha", "Fichas", new { idFicha = ViewBag.FichaId }, FormMethod.Post))
{
    <div class="form-group">
        <label for="aprendizId">Seleccionar Aprendiz:</label>
        @Html.DropDownList("aprendizId", new SelectList(ViewBag.Aprendices, "Id_usuario", "Nombre_usuario"), "Seleccionar Aprendiz", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
}
