@model ClaseDatos.Programa_formacion

@using (Html.BeginForm("CrearProgramaCompetencia", "Competencias", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Programa")
        @Html.DropDownList("programaId", new SelectList(ViewBag.ProgramasDisponibles, "Id_programa", "Nombre_programa"), "Selecciona un programa", new { @class = "form-control" })
    </div>

    <input  name="competenciaId" value="@ViewBag.CompetenciaId" />

    <button type="submit" class="btn btn-primary">Asociar Programa</button>
}

