@model ClaseDatos.Ficha

@*@using (Html.BeginForm())
{
    @Html.Hidden("idFicha", (int)ViewBag.Ficha.Id_ficha)

    <div>
        @Html.Label("AprendicesSeleccionados")
        @Html.ListBox("AprendicesSeleccionados",
            new MultiSelectList((List<ClaseDatos.Usuario>)ViewBag.AprendicesDisponibles, "Id_usuario", "NombreUsuario"),
            new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Asociar</button>
}*@

@using (Html.BeginForm("Asociar_Ficha_Aprendiz", "UsuariosAprendiz", new { idAprendiz = ViewBag.AprendizId }, FormMethod.Post))
{
    <div class="form-group">
        <label for="fichaId">Seleccionar Ficha:</label>
        @Html.DropDownList("fichaId", new SelectList(ViewBag.Fichas, "Id_ficha", "Codigo_ficha"), "Seleccionar Ficha", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
}